{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('website', 'url'),
    ('renewal_date', 'date'),
    ('minimum_benefit', 'currency'),
    ('maximum_benefit', 'currency'),

    ], 'add_plan-') }}
{{ render_ajax_methods('admin', 'add_plan') }}

<div id="add_plans_wrapper">
  <h4 class="ui dividing header">Accidental Death and Dismemberment</h4>

  <form class="ui form {% if add_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_add_plans">
    {{ add_plan_form.id }}
    {{ render_row(add_plan_form.name, add_plan_form.active) }}
    {{ render_row(add_plan_form.code, add_plan_form.website) }}
    {{ render_row(add_plan_form.cust_service_phone, add_plan_form.not_available_in) }}
    {{ render_row(add_plan_form.minimum_benefit, add_plan_form.maximum_benefit) }}

    {{ render_save_update(add_plan_form.id, 'add_plan') }}
  </form>

  {% if not add_plan_form.id.data %}
    {{ render_table('add_plan', [add_plan_form.name, add_plan_form.code, add_plan_form.website ], add_plans )}}
  {% endif %}
</div>
