{% from "_macros.html" import render_formatters, render_row,render_single_row,  render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('phone', 'phone'),
    ('api_endpoint', 'url'),
    ], 'carrier-')}}
{{ render_ajax_methods('admin', 'carrier') }}
<div id='carriers_wrapper'>
  <h4 class="ui dividing header">Carriers</h4>

  <form class="ui form {% if carrier is not defined %}hidden{% endif %}" action="" method="post" id="form_carriers">
    {{ render_row(carrier_form.name, carrier_form.phone) }}
    {{ render_row(carrier_form.api_endpoint, None) }}
    {{ render_save_update(carrier_form.id, 'carrier')}}
  </form>

  {% if not carrier_form.id.data %}
    {{ render_table('carrier', [carrier_form.name, carrier_form.phone, carrier_form.api_endpoint], carriers )}}
  {% endif %}
</div>
