{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),

    ], 'dental_plan-') }}
 {{ render_ajax_methods('admin', 'dental_plan') }}

<div id="dental_plans_wrapper">
  <h4 class="ui dividing header">Dental Plans</h4>

  <form class="ui form {% if dental_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_dental_plans">
    {{ dental_plan_form.id }}
    {{ render_row(dental_plan_form.name, dental_plan_form.code) }}
    {{ render_row(dental_plan_form.carrier, dental_plan_form.cust_service_phone) }}
    {{ render_row(dental_plan_form.website, dental_plan_form.active) }}

    {{ render_row(dental_plan_form.er_flat_amount_contributed, dental_plan_form.er_percentage_contributed) }}
    {{ render_single_row(dental_plan_form.premium_matrix) }}

    {{ render_row(dental_plan_form.group_number, dental_plan_form.original_effective_date) }}
    {{ render_row(dental_plan_form.renewal_date, dental_plan_form.list_billed) }}
    {{ render_row(dental_plan_form.doctor_selection_required, dental_plan_form.cobra_eligible) }}
    {{ render_row(dental_plan_form.pre_tax, dental_plan_form.plan_termination_timing_type_id) }}

    {{ render_save_update(dental_plan_form.id, 'dental_plan') }}
  </form>

  {% if not dental_plan_form.id.data %}
    {{ render_table('dental_plan', [dental_plan_form.name, dental_plan_form.code, dental_plan_form.website ], dental_plans )}}
  {% endif %}
</div>
