{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('renewal_date', 'date'),

    ]) }}
{{ render_ajax_methods('admin', 'eap_plan') }}

<div id="eap_plans_wrapper">
  <h4 class="ui dividing header">Employee Assistance Programs</h4>

  <form class="ui form {% if eap_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_eap_plans">
    {{ eap_plan_form.id }}
    {{ render_row(eap_plan_form.name, eap_plan_form.public_name) }}
    {{ render_row(eap_plan_form.code, eap_plan_form.website) }}
    {{ render_row(eap_plan_form.cust_service_phone, eap_plan_form.not_available_in) }}
    {{ render_row(eap_plan_form.minimum_benefit, eap_plan_form.maximum_benefit) }}

    {{ render_save_update(eap_plan_form.id, 'eap_plan') }}
  </form>

  {% if not eap_plan_form.id.data %}
    {{ render_table('eap_plan', [eap_plan_form.public_name, eap_plan_form.code, eap_plan_form.website ], eap_plans )}}
  {% endif %}
</div>
