{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),

    ], 'hospital_confinement_plan-') }}
{{ render_ajax_methods('admin', 'hospital_confinement_plan') }}

<div id="hospital_confinement_plans_wrapper">
  <h4 class="ui dividing header">hospital_confinement Insurance Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if hospital_confinement_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_hospital_confinement_plans">
    {{ render_row(hospital_confinement_plan_form.name, hospital_confinement_plan_form.active) }}
    {{ render_row(hospital_confinement_plan_form.code, hospital_confinement_plan_form.website) }}
    {{ render_row(hospital_confinement_plan_form.cust_service_phone, hospital_confinement_plan_form.not_available_in) }}

    {{ render_save_update(hospital_confinement_plan_form.id, 'hospital_confinement_plan') }}
  </form>

  {% if not hospital_confinement_plan_form.id.data %}
    {{ render_table('hospital_confinement_plan', [hospital_confinement_plan_form.name, hospital_confinement_plan_form.code, hospital_confinement_plan_form.website ], hospital_confinement_plans )}}
  {% endif %}
</div>
