{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),

    ], 'hsa_plan-') }}
{{ render_ajax_methods('admin', 'hsa_plan') }}

<div id="hsa_plans_wrapper">
  <h4 class="ui dividing header">Health Savings Account Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if hsa_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_hsa_plans">
    {{ render_row(hsa_plan_form.name, hsa_plan_form.active) }}
    {{ render_row(hsa_plan_form.code, hsa_plan_form.website) }}
    {{ render_row(hsa_plan_form.cust_service_phone, hsa_plan_form.not_available_in) }}

    {{ render_save_update(hsa_plan_form.id, 'hsa_plan') }}
  </form>

  {% if not hsa_plan_form.id.data %}
    {{ render_table('hsa_plan', [hsa_plan_form.name, hsa_plan_form.code, hsa_plan_form.website ], hsa_plans )}}
  {% endif %}
</div>
