{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('website', 'url'),
    ('renewal_date', 'date'),
    ('minimum_benefit', 'currency'),
    ('maximum_benefit', 'currency'),

    ], 'ltd_plan-') }}
 {{ render_ajax_methods('admin', 'ltd_plan') }}

<div id="ltd_plans_wrapper">
  <h4 class="ui dividing header">Long Term Disability</h4>

  <form class="ui form {% if ltd_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_ltd_plans">
    {{ ltd_plan_form.id }}
    {{ render_row(ltd_plan_form.name, ltd_plan_form.active) }}
    {{ render_row(ltd_plan_form.code, ltd_plan_form.website) }}
    {{ render_row(ltd_plan_form.cust_service_phone, ltd_plan_form.not_available_in) }}
    {{ render_row(ltd_plan_form.minimum_benefit, ltd_plan_form.maximum_benefit) }}

    {{ render_save_update(ltd_plan_form.id, 'ltd_plan') }}
  </form>

  {% if not ltd_plan_form.id.data %}
    {{ render_table('ltd_plan', [ltd_plan_form.name, ltd_plan_form.code, ltd_plan_form.website ], ltd_plans )}}
  {% endif %}
</div>
