{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'parking_transit_plan-') }}
 {{ render_ajax_methods('admin', 'parking_transit_plan') }}

<div id="parking_transit_plans_wrapper">
  <h4 class="ui dividing header">Parking and Transit Assistance</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if parking_transit_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_parking_transit_plans">
    {{ render_row(parking_transit_plan_form.name, parking_transit_plan_form.code) }}
    {{ render_row(parking_transit_plan_form.carrier, parking_transit_plan_form.cust_service_phone) }}
    {{ render_row(parking_transit_plan_form.website, parking_transit_plan_form.active) }}

    {{ render_row(parking_transit_plan_form.er_flat_amount_contributed, parking_transit_plan_form.er_percentage_contributed) }}
    {{ render_single_row(parking_transit_plan_form.premium_matrix) }}

    {{ render_save_update(parking_transit_plan_form.id, 'parking_transit_plan') }}
  </form>

  {% if not parking_transit_plan_form.id.data %}
    {{ render_table('parking_transit_plan', [parking_transit_plan_form.name, parking_transit_plan_form.code, parking_transit_plan_form.website ], parking_transit_plans )}}
  {% endif %}
</div>
