{% from "_macros.html" import render_formatters, render_row, render_save_update, render_table, render_ajax_methods %}
{{ render_ajax_methods('admin', 'plan_tier_premium', plan.id) }}

<div id='plan_tier_premiums_wrapper_{{ plan.id }}'>
  <h4 class="ui dividing header">{{ plan.name }} Premiums</h4>
  <form class="ui form {% if plan_tier_premium is not defined %}hidden{% endif %}" action="" method="post" id="form_plan_tier_premiums_{{ plan.id }}">
    {{ plan_tier_premium_form.id }} {{ plan_tier_premium_form.plan_id(hidden=True)}}
    {{ render_row(plan_tier_premium_form.tier_type, plan_tier_premium_form.premium) }}
    {{ render_row(plan_tier_premium_form.employee_portion, plan_tier_premium_form.employer_portion) }}
    {{ render_row(plan_tier_premium_form.flat_amount, plan_tier_premium_form.multiplier) }}
    {{ render_save_update(plan_tier_premium_form.id, 'plan_tier_premium', plan.id)}}
  </form>

  {% if not plan_tier_premium_form.id.data %}
    {{ render_table('plan_tier_premium', [plan_tier_premium_form.tier_type, plan_tier_premium_form.employee_portion, plan_tier_premium_form.employer_portion], plan_tier_premiums, plan.id )}}
  {% endif %}
</div>
