{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),

    ], 'supp_life_plan-') }}
 {{ render_ajax_methods('admin', 'supp_life_plan') }}

<div id="supp_life_plans_wrapper">
  <h4 class="ui dividing header">Supplemental Life Insurance Plans</h4>

  <form class="ui form {% if supp_life_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_supp_life_plans">
    {{ supp_life_plan_form.id }}
    {{ render_row(supp_life_plan_form.name, None) }}
    {{ render_row(supp_life_plan_form.code, supp_life_plan_form.website) }}
    {{ render_row(supp_life_plan_form.cust_service_phone, supp_life_plan_form.not_available_in) }}

    {{ render_save_update(supp_life_plan_form.id, 'supp_life_plan') }}
  </form>

  {% if not supp_life_plan_form.id.data %}
    {{ render_table('supp_life_plan', [supp_life_plan_form.name, supp_life_plan_form.code, supp_life_plan_form.website ], supp_life_plans )}}
  {% endif %}
</div>
