{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ]) }}
 {{ render_ajax_methods('admin', 'vision_plan') }}

<div id="vision_plans_wrapper">
  <h4 class="ui dividing header">Vision Plans</h4>

  <form class="ui form {% if vision_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_vision_plans">
    {{ vision_plan_form.id }}
    {{ render_row(vision_plan_form.name, vision_plan_form.public_name) }}
    {{ render_row(vision_plan_form.code, vision_plan_form.website) }}
    {{ render_row(vision_plan_form.cust_service_phone, vision_plan_form.not_available_in) }}
    {{ render_row(vision_plan_form.pricing_type_id, vision_plan_form.bundled_with_medical) }}
    {{ render_row(vision_plan_form.group_number, vision_plan_form.original_effective_date) }}
    {{ render_row(vision_plan_form.renewal_date, vision_plan_form.existing) }}
    {{ render_row(vision_plan_form.list_billed, vision_plan_form.doctor_selection_required) }}
    {{ render_row(vision_plan_form.account_rep_name, vision_plan_form.cobra_eligible) }}
    {{ render_row(vision_plan_form.pre_tax, vision_plan_form.carrier) }}
    {{ render_row(vision_plan_form.bundled_with_dental, vision_plan_form.bundled_with_plan) }}

    {{ render_save_update(vision_plan_form.id, 'vision_plan') }}
  </form>

  {% if not vision_plan_form.id.data %}
    {{ render_table('vision_plan', [vision_plan_form.public_name, vision_plan_form.code, vision_plan_form.website ], vision_plans )}}
  {% endif %}
</div>

