{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),
    ], 'voluntary_life_plan-')}}
 {{ render_ajax_methods('admin', 'voluntary_life_plan') }}

<div id="voluntary_life_plans_wrapper">
  <h4 class="ui dividing header">Employee Voluntary Life Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if voluntary_life_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_voluntary_life_plans">
    {{ render_row(voluntary_life_plan_form.name, voluntary_life_plan_form.code) }}
    {{ render_row(voluntary_life_plan_form.carrier, voluntary_life_plan_form.cust_service_phone) }}
    {{ render_row(voluntary_life_plan_form.website, voluntary_life_plan_form.active) }}

    {{ render_row(voluntary_life_plan_form.er_flat_amount_contributed, voluntary_life_plan_form.er_percentage_contributed) }}
    {{ render_single_row(voluntary_life_plan_form.premium_matrix) }}

    {{ render_row(voluntary_life_plan_form.min_election, voluntary_life_plan_form.max_election) }}
    {{ render_row(voluntary_life_plan_form.increments, voluntary_life_plan_form.guarantee_issue) }}
    {{ render_row(voluntary_life_plan_form.addl_salary_multiple_accidental_death, voluntary_life_plan_form.addl_salary_multiple_accidental_dismemberment) }}

    {{ render_save_update(voluntary_life_plan_form.id, 'voluntary_life_plan') }}
  </form>

  {% if not voluntary_life_plan_form.id.data %}
    {{ render_table('voluntary_life_plan', [voluntary_life_plan_form.name, voluntary_life_plan_form.code, voluntary_life_plan_form.website ], voluntary_life_plans )}}
  {% endif %}
</div>
