{% extends 'admin.html' %}
{% block step_content %}

    {% include "admin/_medical_plans.html" %}
    <br>
    {% include "admin/_dental_plans.html" %}
    <br>
    {% include "admin/_vision_plans.html" %}
    <br>
    {% include "admin/_medical_dental_vision_plans.html" %}
    <br>
    {% include "admin/_medical_dental_plans.html" %}
    <br>
    {% include "admin/_medical_vision_plans.html" %}
    <br>
    {% include "admin/_dental_vision_plans.html" %}

{% endblock step_content %}
<!-- vi set ft=jinja -->
