{% extends 'public_base.html' %}

{% block dialog_content %}
{% from "_macros.html" import render_field, render_submit_field %}

    <h2 class="ui violet image header">
      <img src="/static/images/daffy.png" class="image">
      <div class="content">
        Create your account
      </div>
    </h2>
    <form action="" method="POST" class="ui large form"> {{ form.hidden_tag() }}
      <div class="ui stacked segment">
    {{ render_field(form.email, tabindex=10, icon="mail") }}
    {{ render_submit_field(form.submit, tabindex=90) }}
</form>

{% endblock %}
