{% extends 'public_base.html' %}

{% block heading %}Log-in to your account{% endblock heading %}
{% block content %}
    {# Username or Email field #}
    {% set field = form.username if user_manager.enable_username else form.email %}
    {% set icon = "user" if user_manager.enable_username else "mail" %}
    {{ render_field(field, tabindex=160, icon=icon )}}
    {# Password field #}
    {% set field = form.password %}
    {{ render_field(field, tabindex=160, icon="lock", type="password" )}}
    {# Submit button #}
    {{ render_submit_field(form.submit, tabindex=180) }}
    <div class="ui horizontal divider">New to Perks?</div>

    {% if user_manager.enable_register and not user_manager.require_invitation %}
        <a class="button grey ui fluid large" href="{{ url_for('user.register') }}">Create your Perks account</a>
    {% endif %}
{% endblock content %}
<!-- vi set ft=jinja -->
