{% extends 'dialog_base.html' %}

{% block dialog_content %}
{% from "_macros.html" import render_field, render_checkbox_field, render_submit_field, render_secondary_button %}

    <h2 class="ui violet image header">
      <img src="/static/images/daffy.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form action="" method="POST" class="ui large form"> {{ form.hidden_tag() }}
      <div class="ui stacked segment">
        {# Username or Email field #}
        {% set field = form.username if user_manager.enable_username else form.email %}
        <div class="field {% if field.errors %}error{% endif %}">
          <label for="{{ field.id }}">{{ field.label.text }}</label>
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{ field(class_='field', tabindex=110) }}
          </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="field error">{{ e }}</p>
            {% endfor %}
        {% endif %}
        </div>
        {# Password field #}
        {% set field = form.password %}
        <div class="field {% if field.errors %}error{% endif %}">
          <label for="{{ field.id }}">{{ field.label.text }}</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{ field(class_='field', tabindex=110) }}
          </div>
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="field error">{{ e }}</p>
            {% endfor %}
        {% endif %}
        {# Submit button #}
        {{ render_submit_field(form.submit, tabindex=180) }}
      </div>

      <div class="ui error message"></div>

    </form>
    <div class="ui horizontal divider">New to Perks?</div>

    {% if user_manager.enable_register and not user_manager.require_invitation %}
        <a class="button grey ui fluid large" href="{{ url_for('user.register') }}">Create your Perks account</a>
    {% endif %}

{%endblock %}
