{% extends 'public_base.html' %}

{% block heading %}Create your account{% endblock heading %}
{% block content %}
        {{ render_field(form.username, tabindex=210, icon="user") }}

        {% if user_manager.enable_email and user_manager.enable_username %}
            {{ render_field(form.email, tabindex=220, icon="mail") }}
        {% endif %}

        {{ render_field(form.password, tabindex=230, icon="lock") }}

        {% if user_manager.enable_retype_password %}
            {{ render_field(form.retype_password, tabindex=240, icon="lock") }}
        {% endif %}

        {{ render_submit_field(form.submit, tabindex=280, label="Create your Perks account") }}
{% endblock content %}
