{% macro render_field(field, label=None, label_visible=true, icon=None) -%}
    <div class="field {% if field.errors %}error{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if field.type != 'HiddenField' and label_visible %}
            {% if not label %}{% set label=field.label.text %}{% endif %}
            <label for="{{ field.id }}">{{ label|safe }}</label>
        {% endif %}
        {% if icon %}
          <div class="ui left icon input">
            <i class="{{icon}} icon"></i>
          {{ field(class_='field', **kwargs) }}
          </div>
        {% else %}
          {{ field(class_='field', **kwargs) }}
        {% endif %}
        {% if field.errors %}
            {% for e in field.errors %}
                <p class="field error">{{ e }}</p>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro render_checkbox_field(field, label=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="inline field {% if field.errors %}error{% endif %}">
      <div class="ui checkbox">
        {{ field(type='checkbox', **kwargs) }}
        <label> {{ label }} </label>
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
      <label>{{ field.label }}</label>
      {% for k, v in field.choices %}
        <div class="field {% if field.errors %}error{% endif %}">
          <div class="ui radio checkbox">
            <input value="{{ k }}" name="{{ field.id }}" {% if k is equalto field.data %}checked="checked"{% endif %} type="radio" required>
            <label>{{ v }}</label>
          </div>
        </div>

      {% endfor %}
{%- endmacro %}

{% macro render_select_field(field) -%}
      {{ field.label }}
      <select class="ui fluid dropdown {% if field.errors %}error{% endif %}" name="{{ field.id }}">
      {% for k, v in field.choices %}

        <div class="field">
          <option value="{{k}}" {% if k is equalto field.data %} selected{% endif %}>{{v}}</option>
        </div>

      {% endfor %}
      </select>
{%- endmacro %}

{% macro render_input(field) -%}
  <div class="field {% if field.errors %}error{% endif %}">
    {{ field.label }}
    {{ field(**kwargs)|safe }}
  </div>
{%- endmacro %}

{% macro render_submit_field(field, label=None, tabindex=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <input type="submit" class="ui fluid large violet button" value="{{label}}"
    {% if tabindex %}tabindex="{{ tabindex }}"{% endif %} >
{%- endmacro %}

{% macro render_secondary_button(field, href=None, label=None, tabindex=None) -%}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <a class="button grey ui fluid large" href="{{ href }}"
           {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
           >{{label}}</a>
{%- endmacro %}

{% macro render_row(field1, field2) -%}
<div class="two fields">
  <div class="field {% if field1.errors %}error{% endif %}">
    {{ field1.label }}
    {{ field1(**kwargs)|safe }}
  </div>
  {% if field2 %}
  <div class="field {% if field2.errors %}error{% endif %}">
    {{ field2.label }}
    {{ field2(**kwargs)|safe }}
  </div>
  {% else %}
  <div class="field">&nbsp;
  </div>
  {% endif %}
</div>
{%- endmacro %}

{% macro render_3row(field1, field2, field3) -%}
<div class="three fields">
  <div class="field {% if field1.errors %}error{% endif %}">
    {{ field1.label }}
    {{ field1(**kwargs)|safe }}
  </div>
  <div class="field {% if field2.errors %}error{% endif %}">
    {{ field2.label }}
    {{ field2(**kwargs)|safe }}
  </div>
  <div class="field {% if field3.errors %}error{% endif %}">
    {{ field3.label }}
    {{ field3(**kwargs)|safe }}
  </div>
</div>
{%- endmacro %}

{% macro render_save_update(field, model_name, id=None, test_id=None) %}
{% if id %}
  {% set suffix='_' ~ id %}
{% else %}
  {% set suffix='' %}
{% endif %}
<div class="field">
  {% if (test_id and test_id.data) or (not test_id and field.data) %}
    <a class='ui violet button button-primary' tabindex="0" href="#" onclick="javascript: update_{{ model_name}}{{ suffix }}({{ field.data }});">Update</a>
  {% else %}
    <a class='ui violet button button-primary' tabindex="0" href="#" onclick="javascript: new_{{ model_name }}{{ suffix }}();">Save</a>
  {% endif %}
</div>
{%- endmacro %}

{% macro render_submit(label=None, tabindex=None) %}
<div class="field">
  <a class='ui violet button button-primary' tabindex="0" href="#" value="{{ lable }}">Save</a>
</div>
{%- endmacro %}

{% macro render_table(model_name, fields, objects, id=None) %}
{% if id %}
  {% set suffix='_' ~ id %}
{% else %}
  {% set suffix='' %}
{% endif %}
  <table class="ui table" id="table_{{ model_name }}s{{ suffix }}">
    <thead>
      <tr>
        {% for field in fields %}
          <th>{{ field.label }}</th>
        {% endfor %}
        <th> <i class="plus icon link green" onclick="javascript: $('#table_{{ model_name }}s{{ suffix }}').hide();$('#form_{{ model_name }}s{{ suffix }}').show();"/></i>
      </tr>
    </thead>
    <tbody>
      {% for obj in objects %}
        <tr>
          {% for field in fields %}
            <td>{{ obj|attr(field.short_name) }} </td>
          {% endfor %}
          <td>
            <i class='write icon link blue' onclick="javascript: edit_{{ model_name }}{{ suffix }}({{ obj.id }})"></i>
            <i class='minus icon link red' onclick="javascript: delete_{{ model_name }}{{ suffix }}({{ obj.id }});"></i>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}

{% macro render_ajax_methods(section, model_name, id=None) -%}
{% if id %}
  {% set suffix='_' ~ id %}
{% else %}
  {% set suffix='' %}
{% endif %}
<script type="text/javascript" charset="utf-8">
  var delete_{{ model_name }}{{ suffix }} = function(id) {
      $.ajax({
        url: '/{{ section }}/_{{ model_name }}s/' + id,
        dataType: 'html',
        method: 'DELETE'
          }).done(function(html) {
            $('#{{ model_name }}s_wrapper{{ suffix}}').replaceWith(html);
        });
    };
    var new_{{ model_name }}{{ suffix }} = function() {
      var data = $('#form_{{ model_name }}s{{ suffix }}').serialize();
        $.ajax({
          url: '/{{ section }}/_{{ model_name }}s/',
          dataType: 'html',
          data: data,
          method: 'POST'
        }).done(function(html) {
          $('#{{ model_name }}s_wrapper{{ suffix }}').replaceWith(html);
       });
    };
    var update_{{ model_name }}{{ suffix }} = function(id) {
      var data = $('#form_{{ model_name }}s{{ suffix }}').serialize();
        $.ajax({
          url: '/{{ section }}/_{{ model_name }}s/' + id,
          dataType: 'html',
          data: data,
          method: 'PUT'
        }).done(function(html) {
          $('#{{ model_name }}s_wrapper{{ suffix }}').replaceWith(html);
       });
    };
    var edit_{{ model_name }}{{ suffix }} = function(id) {
      $.ajax({
        url: '/{{ section }}/_{{ model_name }}s/' + id,
        dataType: 'html',
        method: 'GET'
        }).done(function(html) {
          $('#{{ model_name }}s_wrapper{{ suffix }}').replaceWith(html);
       });
    };
 </script>
{%- endmacro %}


{% macro render_formatters(fields, prefix) -%}
<script type="text/javascript" charset="utf-8">
    jQuery(function($){
{% for field in fields %}
  {% if field[1] == 'phone' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({mask: '(999) 999-9999', autoUnmask: true});
  {% elif field[1] == 'date' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'mm/dd/yyyy'});
  {% elif field[1] == 'integer' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'integer'});
  {% elif field[1] == 'percentage' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'percentage'});
  {% elif field[1] == 'decimal' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'decimal'});
  {% elif field[1] == 'email' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'email'});
  {% elif field[1] == 'url' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'url'});
  {% elif field[1] == 'zip' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({mask: '99999'});
  {% elif field[1] == 'ssn' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({mask: '999-99-9999'});
  {% elif field[1] == 'currency' %}
        $('input[name={{ prefix ~ field[0] }}]').inputmask({alias: 'currency', autoUnmask: true});
  {% endif %}
{% endfor %}
});
</script>
{%- endmacro %}

{% macro render_enroll_table(selections, plan_type) %}
  <table class="ui table" id="table_{{ plan_type }}s{{ suffix }}">
    <thead>
      <tr>
          <th>Plan</th>
          <th>Election</th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for selection in selections %}
        <tr>
            <td>{{ selection.plan_name }} </td>
            <td>{{ selection.election_label }} </td>
          <td>
            <i class='write icon link blue' onclick="javascript: edit_{{ plan_type }}({{ selection.plan_id }})"></i>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endmacro %}
