<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16" />
    <style type="text/css" media="all">
    </style>
    {% block extra_css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/main.js"></script>
    {% block extra_js %}{% endblock %}
    <title>{% block title %}Welcome to Perks!{% endblock %}</title>
  </head>

  <body>
    <div class="ui container">
      {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
          <div class="ui icon success message">
            <i class="close icon"></i>
            <div class="content">
              <div class="header">Success</div>
              <ul class="list">
                {% for success in successes %}
                  <li>{{ success }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}

      {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
          <div class="ui icon error message">
            <i class="close icon"></i>
            <div class="content">
              <div class="header">Error</div>
              <ul class="list">
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}

      {% with infos = get_flashed_messages(category_filter=["message"]) %}
        {% if infos %}
          <div class="ui icon info message">
            <i class="close icon"></i>
            <div class="content">
              <div class="header">Info</div>
              <ul class="list">
                {% for info in infos %}
                  <li>{{ info }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endwith %}
      {% block base_content %}{% endblock base_content %}
    </div>  {# end ui container #}
  </body>
</html>
<!-- vi set ft=jinja -->
