{% extends "enroll/_base.html" %}
{% block ajax_methods %}
  {{ render_ajax_methods('enroll', 'dental_vision') }}
{% endblock %}

{% block plan_wrapper %}dental_vision{% endblock %}
{% block plan_header %}Dental, Vision Bundle{% endblock %}
{% block form_id %}dental_vision{% endblock %}

{% block save_update %}
    {{ render_save_update(election_form.plan_id, 'dental_vision', None, election_form.id) }}
{% endblock %}
{% block enroll_table %}
  {% if dental_vision_selections %}
      {{ render_enroll_table(dental_vision_selections, 'dental_vision') }}
  {% endif %}
{% endblock %}
