{% from "_macros.html" import render_formatters, render_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('disability_date', 'date'),
    ('dob', 'date'),
    ('ssn', 'ssn'),
    ], 'dependent-')}}
{{ render_formatters([
    ('zip_code', 'zip'),
    ], 'address-')}}
{{ render_ajax_methods('enroll', 'dependent') }}

<div id="dependents_wrapper">
  <h4 class="ui dividing header">Dependents</h4>

  <form class="ui form {% if dependent_form.errors %}error{% endif %} {% if dependent is not defined %}hidden{% endif %}" action="" method="post" id="form_dependents">
    {{ render_3row(dependent_form.first_name, dependent_form.middle_name, dependent_form.last_name) }}
    {{ render_row(dependent_form.dependent_type, dependent_form.gender) }}
    {{ render_3row(dependent_form.full_time_student, dependent_form.disabled, dependent_form.disability_date) }}
    {{ render_row(dependent_form.dob, dependent_form.ssn) }}
    {{ render_row(dependent_form.smoker_type, dependent_form.marital_status) }}
    {{ render_row(address_form.street_1, address_form.street_2) }}
    {{ render_3row(address_form.city, address_form.state, address_form.zip_code) }}
    {{ render_save_update(dependent_form.id, 'dependent') }}
  </form>

  {% if not dependent_form.id.data %}
    {{ render_table('dependent', [dependent_form.full_name, dependent_form.dependent_type], dependents )}}
  {% endif %}
</div>
