{% from "_macros.html" import render_table, render_radio_field,  render_save_update, render_ajax_methods %}

{{ render_ajax_methods('enroll', 'life_event') }}

<div id='life_events_wrapper'>
  <h4 class="ui dividing header">Qualifying Life Event</h4>
  {% if life_event_form is defined %}

  <form class="ui form"  action="" method="post" id="form_life_events">
    {{ life_event_form.csrf_token }}
    {{ life_event_form.employee_id }}
    {{ life_event_form.id }}
    <div class="grouped fields">
      {{ render_radio_field(life_event_form.life_event ) }}
    </div>
    <div>
      {{ render_save_update(life_event_form.id, 'life_event') }}
    </div>
  </form>
  {% else %}
    <table class="ui table" id="table_life_events">
      <thead>
        <tr>
          <th><label for="life_event">Life Event</label></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ life_event.life_event }}</td>
          <td><i class='write icon link blue' onclick="javascript: edit_life_event({{ life_event.id }})"></i></td>
        </tr>
      </tbody>
    </table>
  {% endif %}
</div>
