{% from "_macros.html" import render_formatters, render_table, render_select_field, render_input, render_row, render_3row, render_save_update, render_ajax_methods %}

{{ render_formatters([
    ('phone', 'phone'),
    ('alternate_phone', 'phone'),
    ('emergency_contact_phone', 'phone'),
    ('dob', 'date'),
    ('hire_date', 'date'),
    ('effective_date', 'date'),
    ('termination_date', 'date'),
    ('group_effective_date', 'date'),
    ('sub_group_effective_date', 'date'),
    ('salary_effective_date', 'date'),
    ('ssn', 'ssn'),
    ], 'info-')}}
{{ render_formatters([
    ('zip_code', 'zip'),
    ], 'address-')}}
{{ render_ajax_methods('enroll', 'info') }}

<div id="infos_wrapper">
  <h4 class="ui dividing header">Personal Information</h4>
  {% if info_form is defined %}
  <form class="ui form {% if info_form.errors %}error{% endif %}" action="" method="POST" id='form_infos'>
    {{ info_form.id }}
    {{ info_form.address_id }}
    {{ address_form.id }}

    {{ render_3row(info_form.first_name, info_form.middle_name, info_form.last_name) }}
    {{ render_row(info_form.dob, info_form.ssn) }}
    {{ render_row(address_form.street_1, address_form.street_2) }}
    {{ render_3row(address_form.city, address_form.state, address_form.zip_code) }}
    {{ render_row(info_form.gender, info_form.marital_status) }}
    {{ render_row(info_form.smoker_type, info_form.phone) }}
    {{ render_row(info_form.alternate_phone, info_form.emergency_contact_name) }}
    {{ render_row(info_form.emergency_contact_phone, info_form.emergency_contact_relationship) }}
    {{ render_row(info_form.spouse_dob, info_form.spouse_smoker_type) }}

    <div>
      {{ render_save_update(info_form.id, 'info') }}
    </div>
  </form>

  {% else %}
    <table class="ui table" id='table_personal'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ employee.first_name  }}{{ employee.middle_name  }} {{ employee.last_name  }}  </td>
          <td>{{ employee.address.street_1 }}<br>{{ employee.address.city  }}, {{ employee.address.state }} {{ employee.address.zip_code }}</td>
          <td>{{ employee.phone }}</td>
          <td> <i class='write icon link blue' onclick="javascript: edit_info({{ employee.id }})"></i> </td>
        </tr>
      </tbody>
    </table>
  {% endif %}
</div>
