{% extends 'enroll.html' %}
{% block step_content %}
{% if critical_selections %}
  {% include "enroll/_critical.html" %}
  <br>
{% endif %}
{% if cancer_selections %}
  {% include "enroll/_cancer.html" %}
  <br>
{% endif %}
{% if accident_selections %}
  {% include "enroll/_accident.html" %}
  <br>
{% endif %}
{% if hospital_confinement_selections %}
  {% include "enroll/_hospital_confinement.html" %}
  <br>
{% endif %}
{% if parking_transit_selections %}
  {% include "enroll/_parking.html" %}
  <br>
{% endif %}
{% if identity_theft_selections %}
  {% include "enroll/_identity_theft.html" %}
  <br>
{% endif %}

{% endblock step_content %}
<!-- vi set ft=jinja -->
