{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),

    ], 'cancer_plan-') }}
{{ render_ajax_methods('admin', 'cancer_plan') }}

<div id="cancer_plans_wrapper">
  <h4 class="ui dividing header">Cancer Insurance Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if cancer_plan_form.errors %}error{% endif %} {% if cancer_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_cancer_plans">
    {{ render_row(cancer_plan_form.name, cancer_plan_form.code) }}
    {{ render_row(cancer_plan_form.carrier, cancer_plan_form.cust_service_phone) }}
    {{ render_row(cancer_plan_form.website, cancer_plan_form.active) }}

    {{ render_row(cancer_plan_form.er_flat_amount_contributed, cancer_plan_form.er_percentage_contributed) }}
    {{ render_single_row(cancer_plan_form.premium_matrix) }}

    {{ render_single_row(cancer_plan_form.required_plan) }}

    {{ render_save_update(cancer_plan_form.id, 'cancer_plan') }}
  </form>

  {% if not cancer_plan_form.id.data %}
    {{ render_table('cancer_plan', [cancer_plan_form.name, cancer_plan_form.code, cancer_plan_form.website ], cancer_plans )}}
  {% endif %}
</div>
