{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),
    ], 'child_whole_life_plan-')}}
 {{ render_ajax_methods('admin', 'child_whole_life_plan') }}

<div id="child_whole_life_plans_wrapper">
  <h4 class="ui dividing header">Child Whole Life Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if child_whole_life_plan_form.errors %}error{% endif %} {% if child_whole_life_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_child_whole_life_plans">
    {{ render_row(child_whole_life_plan_form.name, child_whole_life_plan_form.code) }}
    {{ render_row(child_whole_life_plan_form.carrier, child_whole_life_plan_form.cust_service_phone) }}
    {{ render_row(child_whole_life_plan_form.website, child_whole_life_plan_form.active) }}

    {{ render_row(child_whole_life_plan_form.er_flat_amount_contributed, child_whole_life_plan_form.er_percentage_contributed) }}
    {{ render_single_row(child_whole_life_plan_form.premium_matrix) }}

    {{ render_single_row(child_whole_life_plan_form.required_plan) }}

    {{ render_save_update(child_whole_life_plan_form.id, 'child_whole_life_plan') }}
  </form>

  {% if not child_whole_life_plan_form.id.data %}
    {{ render_table('child_whole_life_plan', [child_whole_life_plan_form.name, child_whole_life_plan_form.code, child_whole_life_plan_form.website ], child_whole_life_plans )}}
  {% endif %}
</div>
