{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'critical_illness_plan-') }}
{{ render_ajax_methods('admin', 'critical_illness_plan') }}

<div id="critical_illness_plans_wrapper">
  <h4 class="ui dividing header">Critical Illness Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if critical_illness_plan_form.errors %}error{% endif %} {% if critical_illness_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_critical_illness_plans">
    {{ render_row(critical_illness_plan_form.name, critical_illness_plan_form.code) }}
    {{ render_row(critical_illness_plan_form.carrier, critical_illness_plan_form.cust_service_phone) }}
    {{ render_row(critical_illness_plan_form.website, critical_illness_plan_form.active) }}

    {{ render_row(critical_illness_plan_form.er_flat_amount_contributed, critical_illness_plan_form.er_percentage_contributed) }}
    {{ render_single_row(critical_illness_plan_form.premium_matrix) }}

    {{ render_single_row(critical_illness_plan_form.required_plan) }}

    {{ render_save_update(critical_illness_plan_form.id, 'critical_illness_plan') }}
  </form>

  {% if not critical_illness_plan_form.id.data %}
    {{ render_table('critical_illness_plan', [critical_illness_plan_form.name, critical_illness_plan_form.code, critical_illness_plan_form.website ], critical_illness_plans )}}
  {% endif %}
</div>
