{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'e401k_plan-') }}
{{ render_ajax_methods('admin', 'e401k_plan') }}

<div id="e401k_plans_wrapper">
  <h4 class="ui dividing header">Employee 401K Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if e401k_plan_form.errors %}error{% endif %} {% if e401k_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_e401k_plans">
    {{ render_row(e401k_plan_form.name, e401k_plan_form.code) }}
    {{ render_row(e401k_plan_form.carrier, e401k_plan_form.cust_service_phone) }}
    {{ render_row(e401k_plan_form.website, e401k_plan_form.active) }}
    {{ render_row(e401k_plan_form.employer_percent_matched, e401k_plan_form.employer_max_contribution) }}
    {{ render_single_row(e401k_plan_form.min_contribution) }}

    {{ render_single_row(e401k_plan_form.required_plan) }}

    {{ render_save_update(e401k_plan_form.id, 'e401k_plan') }}
  </form>

  {% if not e401k_plan_form.id.data %}
    {{ render_table('e401k_plan', [e401k_plan_form.name, e401k_plan_form.code, e401k_plan_form.website ], e401k_plans )}}
  {% endif %}
</div>
