{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'eap_plan-') }}
{{ render_ajax_methods('admin', 'eap_plan') }}

<div id="eap_plans_wrapper">
  <h4 class="ui dividing header">Employee Assistance Programs</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if eap_plan_form.errors %}error{% endif %} {% if eap_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_eap_plans">
    {{ render_row(eap_plan_form.name, eap_plan_form.code) }}
    {{ render_row(eap_plan_form.carrier, eap_plan_form.cust_service_phone) }}
    {{ render_row(eap_plan_form.website, eap_plan_form.active) }}

    {{ render_row(eap_plan_form.er_flat_amount_contributed, eap_plan_form.er_percentage_contributed) }}
    {{ render_single_row(eap_plan_form.premium_matrix) }}

    {{ render_single_row(eap_plan_form.required_plan) }}

    {{ render_save_update(eap_plan_form.id, 'eap_plan') }}
  </form>

  {% if not eap_plan_form.id.data %}
    {{ render_table('eap_plan', [eap_plan_form.name, eap_plan_form.code, eap_plan_form.website ], eap_plans )}}
  {% endif %}
</div>
