{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'hospital_confinement_plan-') }}
{{ render_ajax_methods('admin', 'hospital_confinement_plan') }}

<div id="hospital_confinement_plans_wrapper">
  <h4 class="ui dividing header">Hospital Confinement Insurance Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if hospital_confinement_plan_form.errors %}error{% endif %} {% if hospital_confinement_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_hospital_confinement_plans">
    {{ render_row(hospital_confinement_plan_form.name, hospital_confinement_plan_form.code) }}
    {{ render_row(hospital_confinement_plan_form.carrier, hospital_confinement_plan_form.cust_service_phone) }}
    {{ render_row(hospital_confinement_plan_form.website, hospital_confinement_plan_form.active) }}

    {{ render_row(hospital_confinement_plan_form.er_flat_amount_contributed, hospital_confinement_plan_form.er_percentage_contributed) }}
    {{ render_single_row(hospital_confinement_plan_form.premium_matrix) }}

    {{ render_single_row(hospital_confinement_plan_form.required_plan) }}

    {{ render_save_update(hospital_confinement_plan_form.id, 'hospital_confinement_plan') }}
  </form>

  {% if not hospital_confinement_plan_form.id.data %}
    {{ render_table('hospital_confinement_plan', [hospital_confinement_plan_form.name, hospital_confinement_plan_form.code, hospital_confinement_plan_form.website ], hospital_confinement_plans )}}
  {% endif %}
</div>
