{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'ltc_plan-') }}
{{ render_ajax_methods('admin', 'ltc_plan') }}

<div id="ltc_plans_wrapper">
  <h4 class="ui dividing header">Long Term Care Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if ltc_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_ltc_plans">
    {{ render_row(ltc_plan_form.name, ltc_plan_form.code) }}
    {{ render_row(ltc_plan_form.carrier, ltc_plan_form.cust_service_phone) }}
    {{ render_row(ltc_plan_form.website, ltc_plan_form.active) }}

    {{ render_row(ltc_plan_form.er_flat_amount_contributed, ltc_plan_form.er_percentage_contributed) }}
    {{ render_single_row(ltc_plan_form.premium_matrix) }}

    {{ render_single_row(ltc_plan_form.required_plan) }}

    {{ render_save_update(ltc_plan_form.id, 'ltc_plan') }}
  </form>

  {% if not ltc_plan_form.id.data %}
    {{ render_table('ltc_plan', [ltc_plan_form.name, ltc_plan_form.code, ltc_plan_form.website ], ltc_plans )}}
  {% endif %}
</div>
