{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),
    ], 'medical_vision_plan-')}}
 {{ render_ajax_methods('admin', 'medical_vision_plan') }}

<div id="medical_vision_plans_wrapper">
  <h4 class="ui dividing header">Medical Vision Bundle Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if medical_vision_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_medical_vision_plans">
    {{ render_row(medical_vision_plan_form.name, medical_vision_plan_form.code) }}
    {{ render_row(medical_vision_plan_form.carrier, medical_vision_plan_form.cust_service_phone) }}
    {{ render_row(medical_vision_plan_form.website, medical_vision_plan_form.active) }}

    {{ render_row(medical_vision_plan_form.er_flat_amount_contributed, medical_vision_plan_form.er_percentage_contributed) }}
    {{ render_single_row(medical_vision_plan_form.premium_matrix) }}

    {{ render_row(medical_vision_plan_form.group_number, medical_vision_plan_form.original_effective_date) }}
    {{ render_row(medical_vision_plan_form.renewal_date, medical_vision_plan_form.list_billed) }}
    {{ render_row(medical_vision_plan_form.doctor_selection_required, medical_vision_plan_form.cobra_eligible) }}
    {{ render_row(medical_vision_plan_form.pre_tax, medical_vision_plan_form.plan_termination_timing_type_id) }}

    {{ render_single_row(medical_vision_plan_form.required_plan) }}

    {{ render_save_update(medical_vision_plan_form.id, 'medical_vision_plan') }}
  </form>

  {% if not medical_vision_plan_form.id.data %}
    {{ render_table('medical_vision_plan', [medical_vision_plan_form.name, medical_vision_plan_form.code, medical_vision_plan_form.website ], medical_vision_plans )}}
  {% endif %}
</div>

