{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('website', 'url'),

    ], 'other_plan-') }}
 {{ render_ajax_methods('admin', 'other_plan') }}

<div id="other_plans_wrapper">
  <h4 class="ui dividing header">Other Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if other_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_other_plans">
    {{ render_row(other_plan_form.name, other_plan_form.code) }}
    {{ render_row(other_plan_form.carrier, other_plan_form.cust_service_phone) }}
    {{ render_row(other_plan_form.website, other_plan_form.active) }}

    {{ render_row(other_plan_form.er_flat_amount_contributed, other_plan_form.er_percentage_contributed) }}
    {{ render_single_row(other_plan_form.premium_matrix) }}

    {{ render_single_row(other_plan_form.required_plan) }}

    {{ render_save_update(other_plan_form.id, 'other_plan') }}
  </form>

  {% if not other_plan_form.id.data %}
    {{ render_table('other_plan', [other_plan_form.name, other_plan_form.code, other_plan_form.website ], other_plans )}}
  {% endif %}
</div>
