{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),
    ], 'spouse_whole_life_plan-')}}
 {{ render_ajax_methods('admin', 'spouse_whole_life_plan') }}

<div id="spouse_whole_life_plans_wrapper">
  <h4 class="ui dividing header">Spouse Whole Life Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if spouse_whole_life_plan_form.errors %}error{% endif %} {% if spouse_whole_life_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_spouse_whole_life_plans">
    {{ render_row(spouse_whole_life_plan_form.name, spouse_whole_life_plan_form.code) }}
    {{ render_row(spouse_whole_life_plan_form.carrier, spouse_whole_life_plan_form.cust_service_phone) }}
    {{ render_row(spouse_whole_life_plan_form.website, spouse_whole_life_plan_form.active) }}

    {{ render_row(spouse_whole_life_plan_form.er_flat_amount_contributed, spouse_whole_life_plan_form.er_percentage_contributed) }}
    {{ render_single_row(spouse_whole_life_plan_form.premium_matrix) }}

    {{ render_single_row(spouse_whole_life_plan_form.required_plan) }}

    {{ render_save_update(spouse_whole_life_plan_form.id, 'spouse_whole_life_plan') }}
  </form>

  {% if not spouse_whole_life_plan_form.id.data %}
    {{ render_table('spouse_whole_life_plan', [spouse_whole_life_plan_form.name, spouse_whole_life_plan_form.code, spouse_whole_life_plan_form.website ], spouse_whole_life_plans )}}
  {% endif %}
</div>
