{% from "_macros.html" import render_formatters, render_row, render_single_row, render_3row, render_save_update, render_table, render_ajax_methods %}
{{ render_formatters([
    ('cust_service_phone', 'phone'),
    ('original_effective_date', 'date'),
    ('renewal_date', 'date'),
    ('website', 'url'),
    ], 'standalone_add_plan-')}}
 {{ render_ajax_methods('admin', 'standalone_add_plan') }}

<div id="standalone_add_plans_wrapper">
  <h4 class="ui dividing header">Standalone Accidental Death and Dismemberment Plans</h4>
  {% include "admin/errors.html" %}

  <form class="ui form {% if standalone_add_plan_form.errors %}error{% endif %} {% if standalone_add_plan is not defined %}hidden{% endif %}" action="" method="post" id="form_standalone_add_plans">
    {{ render_row(standalone_add_plan_form.name, standalone_add_plan_form.code) }}
    {{ render_row(standalone_add_plan_form.carrier, standalone_add_plan_form.cust_service_phone) }}
    {{ render_row(standalone_add_plan_form.website, standalone_add_plan_form.active) }}

    {{ render_row(standalone_add_plan_form.er_flat_amount_contributed, standalone_add_plan_form.er_percentage_contributed) }}
    {{ render_single_row(standalone_add_plan_form.premium_matrix) }}

    {{ render_3row(standalone_add_plan_form.increments, standalone_add_plan_form.min_election, standalone_add_plan_form.max_election) }}

    {{ render_single_row(standalone_add_plan_form.required_plan) }}

    {{ render_save_update(standalone_add_plan_form.id, 'standalone_add_plan') }}
  </form>

  {% if not standalone_add_plan_form.id.data %}
    {{ render_table('standalone_add_plan', [standalone_add_plan_form.name, standalone_add_plan_form.code, standalone_add_plan_form.website ], standalone_add_plans )}}
  {% endif %}
</div>
