{% extends 'admin.html' %}
{% block step_content %}

    {% include "admin/_basic_life_plans.html" %}
    <br>
    {% include "admin/_voluntary_life_plans.html" %}
    <br>
    {% include "admin/_spouse_voluntary_life_plans.html" %}
    <br>
    {% include "admin/_child_voluntary_life_plans.html" %}
    <br>
    {% include "admin/_standalone_add_plans.html" %}
    <br>
    {% include "admin/_spouse_standalone_add_plans.html" %}
    <br>
    {% include "admin/_child_standalone_add_plans.html" %}
    <br>
    {% include "admin/_whole_life_plans.html" %}
    <br>
    {% include "admin/_spouse_whole_life_plans.html" %}
    <br>
    {% include "admin/_child_whole_life_plans.html" %}
    <br>
    {% include "admin/_ltd_plans.html" %}
    <br>
    {% include "admin/_std_plans.html" %}
    <br>
    {% include "admin/_fsa_medical_plans.html" %}
    <br>
    {% include "admin/_fsa_dependent_care_plans.html" %}
    <br>
    {% include "admin/_hsa_plans.html" %}
    <br>
    {% include "admin/_hra_plans.html" %}
    <br>
    {% include "admin/_e401k_plans.html" %}
    <br>
    {% include "admin/_ltc_plans.html" %}
    <br>
    {% include "admin/_eap_plans.html" %}

{% endblock step_content %}
<!-- vi set ft=jinja -->
