{% extends 'admin.html' %}
{% block step_content %}
    {% include "admin/_critical_illness_plans.html" %}
    <br>
    {% include "admin/_cancer_plans.html" %}
    <br>
    {% include "admin/_accident_plans.html" %}
    <br>
    {% include "admin/_hospital_confinement_plans.html" %}
    <br>
    {% include "admin/_parking_transit_plans.html" %}
    <br>
    {% include "admin/_identity_theft_plans.html" %}
    <br>
    {% include "admin/_other_plans.html" %}
{% endblock step_content %}
<!-- vi set ft=jinja -->
