{% from "_macros.html" import render_save_update, render_enroll_table, render_ajax_methods %}

{% block ajax_methods  %}
{% endblock %}

<div id="{% block plan_wrapper %}{% endblock %}s_wrapper">
  <h4 class="ui dividing header">{% block plan_header %}{% endblock %} Plan Elections</h4>

  <form class="ui form {% if not election_form or summary %}hidden{% endif %}" action="" method="post" id="form_{% block form_id %}{% endblock %}s">
    {% if election_form %}
      {{ election_form.id }}
      {{ election_form.employee_id }}
      {{ election_form.enrollment_id }}
      {{ election_form.premium_id }}
      {{ election_form.plan_id }}
      {{ election_form.csrf_token }}
    {% endif %}

    <table class="ui table">
      <thead>
        <tr>
          <th>Election</th><th>Total<br>Premium</th><th>Employer<br>Portion</th><th>Employee<br>Portion</th>
        </tr>
      </thead>
      <tbody>
      {% if election_form %}
        {% block form_input %}
          {% for value, label, checked, total_premium, employer_cost, employee_cost in election_form.selection.choices %}
            <tr>
              <td>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="{{ election_form.selection.id }}" id="{{ election_form.selection.id }}" value="{{ value }}"{% if checked %} checked{% endif %} tabindex="0" >
                    <label>{{ label }} </label>
                  </div>
                </div>
              </td>
              <td>{{ total_premium }}</td>
              <td>{{ employer_cost }}</td>
              <td>{{ employee_cost }}</td>
            </tr>
          {% endfor %}
        {% endblock %}
      {% endif %}
      </tbody>
    </table>

    {% if election_form %}
      {% block save_update %}
      {% endblock save_update %}
    {% endif %}
  </form>
  {% block enroll_table %}
  {% endblock %}

</div>
