{% extends "enroll/_tiered_base.html" %}
{% block ajax_methods %}
  {{ render_ajax_methods('enroll', 'e401k') }}
{% endblock %}

{% block plan_wrapper %}e401k{% endblock %}
{% block plan_header %}Employee 401K{% endblock %}
{% block form_id %}e401k{% endblock %}
{% block save_update %}
    {{ render_save_update(election_form.plan_id, 'e401k', None, election_form.id) }}
{% endblock %}
{% block enroll_table %}
  {% if e401k_selections %}
      {{ render_enroll_table(e401k_selections, 'e401k') }}
  {% endif %}
{% endblock %}
