{% extends "enroll/_base.html" %}
{% block ajax_methods %}
  {{ render_ajax_methods('enroll', 'life_add') }}
{% endblock %}

{% block plan_wrapper %}life_add{% endblock %}
{% block plan_header %}Life and Accidental Death and Dismemberment{% endblock %}
{% block form_id %}life_add{% endblock %}
{% block save_update %}
    {{ render_save_update(election_form.plan_id, 'life_add', None, election_form.id) }}
{% endblock %}
{% block enroll_table %}
  {% if life_add_selections %}
      {{ render_enroll_table(life_add_selections, 'life_add') }}
  {% endif %}
{% endblock %}
