{% extends "enroll/_base.html" %}
{% block ajax_methods %}
  {{ render_ajax_methods('enroll', 'std') }}
{% endblock %}

{% block plan_wrapper %}std{% endblock %}
{% block plan_header %}Short Term Disability{% endblock %}
{% block form_id %}std{% endblock %}

{% block save_update %}
    {{ render_save_update(election_form.plan_id, 'std', None, election_form.id) }}
{% endblock %}
{% block enroll_table %}
  {% if std_selections %}
      {{ render_enroll_table(std_selections, 'std') }}
  {% endif %}
{% endblock %}
