{% extends "base.html" %}
{% from "_macros.html" import render_field, render_submit_field, render_checkbox_field, render_secondary_button %}
{% block extra_css %}
  <style type="text/css">
    body > .grid { height: 100%; }
    .mainHeader {height: 140px; }
  </style>
{% endblock extra_css %}
{% block extra_js %}
<script charset="utf-8">
  var updateGlobalTotals = function() {
      $.ajax({
        url: '/update_totals/',
        dataType: 'json',
        method: 'GET'
      }).done(function(totals) {
        console.log('updateGlobalTotals');
        console.log(totals.employerTotal);
        console.log(totals.employeeTotal);
        $('#totalEmployerCost').text(totals.employerTotal);
        $('#totalEmployeeCost').text(totals.employeeTotal);
      });
  };
</script>
{% endblock %}
<div class="ui center aligned grid">
  {% block base_content %}
    <div class="wrapper">
      <div class="ui banner">
        <div class="bannerName">{{ current_user.email }}</div>
      </div>
      <div class="ui secondary pointing menu">
        <a class="item {% if g.active_tab == 'index' %}active{% endif %}" href="{{ url_for('main.index')}}">
          <i class="home icon"></i> Home
        </a>
        <a class="item {% if g.active_tab == 'enroll' %}active{% endif %}" href="{{ url_for('main.enroll')}}">
          <i class="first aid icon"></i> Enroll
        </a>
        <a class="item {% if g.active_tab == 'benefits' %}active{% endif %}" href="{{ url_for('main.benefits')}}">
          <i class="protect icon"></i> Benefits
        </a>
        <a class="item {% if g.active_tab == 'messages' %}active{% endif %}" href="{{ url_for('main.messages')}}">
          <i class="mail icon"></i> Messages
        </a>
        <a class="item {% if g.active_tab == 'admin' %}active{% endif %}" href="{{ url_for('main.admin')}}">
          <i class="settings icon"></i> Admin
        </a>
        <div class="right menu">
          <a class="ui item" href="{{ url_for('auth.logout')}}">
            <i class="sign out icon"></i> Sign Out
          </a>
        </div>
      </div> {# end menue #}
    </div> {# end banner #}
    {% block content %}{% endblock content %}
  {% endblock base_content %}
</div>
<!-- vi set ft=jinja -->
