{% extends "base.html" %}
{% from "_macros.html" import render_field, render_submit_field, render_checkbox_field, render_secondary_button %}
{% block extra_css %}
  <style type="text/css">
    body > .grid { height: 100%; }
    .image { margin-top: -100px; }
    .column { max-width: 400px; }
  </style>
{% endblock extra_css %}
{% block base_content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui primary image header">
        <img src="/static/images/daffy.png" class="image">
        <div class="content">
          {% block heading %}{% endblock heading %}
        </div>
      </h2>
      <form action="" method="POST" class="ui large form"> {{ form.hidden_tag() }}
        <div class="ui stacked segment">
          {% block content %}{% endblock content %}
        </div>
      </form>
    </div>
  </div>
{% endblock base_content %}
<!-- vi set ft=jinja -->
